<div class="dashboard-container">
  <div class="stats-grid">
    <div class="stat-card" *ngFor="let stat of stats">
      <div class="card-header">
        <mat-icon class="stat-icon">{{ stat.icon }}</mat-icon>
        <p class="title">{{ stat.title }}</p>
      </div>
      <div class="stat-value">{{ stat.value }}</div>
    </div>
  </div>

  <!-- Section Calendrier et Présence -->
  <div class="main-grid">
    <div class="calendar-section">
      <app-calendar></app-calendar>
    </div>

    <!-- Section Messages -->
    <div class="messages-section">
      <h3>Messages</h3>
        <div class="message-list">
          <div *ngFor="let message of messages" class="message-card">
            <div class="message-header">
              <strong class="sender">{{ message.sender }}</strong>
              <span class="message-time">{{ message.time }}</span>
            </div>
            <p class="message-content">{{ message.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
